<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICalculateBMI" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ClassLibraryCalculateBMI/CalculateBMI"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculateBMI"
          contract="ICalculateBMI" name="BasicHttpBinding_ICalculateBMI" />
    </client>
  </system.serviceModel>
</configuration>