<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWordClass" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ClassLibraryHobby/WordClass"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWordClass"
          contract="IWordClass" name="WSHttpBinding_IWordClass">
        <identity>
          <userPrincipalName value="JakobStjerna\Jakob" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>